<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img src="logo.png">
    <header>
        <nav>
            <ul id="menu">
                <li><a href= '/'>Home</a></li>
                <li><a href= '/showTaskPage'>List Task</a></li>
                <li><a href= '/showDeveloperPage'>List Developer</a></li>
                <li><a href = '/addTaskPage'>New Task</a></li>
                <li><a href = '/addDeveloperPage'>New Developer</a></li>
                <li><a href= '/deleteTaskPage'>Delete Task</a></li>
                <li><a href = '/updateTaskPage'>Update Task</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>