<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <a href= '/'>Home</a>
	<a href= '/showTaskPage'>List Task</a>
	<a href= '/showDeveloperPage'>List Developer</a>
	<a href = '/addTaskPage'>New Task</a>
	<a href = '/addDeveloperPage'>New Developer</a>
	<a href= '/deleteTaskPage'>Delete Task</a>
	<a href = 'updateTaskPage'>Update Task</a>
	
    <h3>List of Tasks</h3>
    <table>
        <tr>
			<td>ID</td>
            <td>Name</td>
			<td>Assigned To</td>
            <td>Due Date</td>
			<td>Status</td>
            <td>Description</td>
        </tr>
        <% for (var i=0;i< db.length;i++){ %>
            <tr>
				<td>
					<%= db[i]._ID %>
				</td>
                <td>
                    <%= db[i].name %>
                </td>
				<td>
                    <%= db[i].assignTo %>
                </td>
                <td>
                    <%= db[i].dueDate %>
                </td>
				<td>
                    <%= db[i].status %>
                </td>
                <td>
                    <%= db[i].description%>
                </td>
            </tr>
        <% } %>
    </table>
    
</body>

</html>