<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <ul id="menu">
            <li><a href= '/'>Home</a></li>
            <li><a href= '/showTaskPage'>List Task</a></li>
            <li><a href= '/showDeveloperPage'>List Developer</a></li>
            <li><a href = '/addTaskPage'>New Task</a></li>
            <li><a href = '/addDeveloperPage'>New Developer</a></li>
            <li><a href= '/deleteTaskPage'>Delete Task</a></li>
            <li><a href = '/updateTaskPage'>Update Task</a></li>
        </ul>
    </nav>
	<br>
    <p>
	<table>
		<form action="/insertTask" method="POST">
			<tr>
				<td>Task Name:</td>
				<td><input type="text" name="taskName"><br></td>
			</tr>
			<tr>	
				<td>Assigned To:</td>
				<td><input type="text" name="assigned"><br></td>
			</tr>
			<tr>	
				<td>Due Date:</td>
				<td><input type="date" name="dueDate"><br></td>
			</tr>	
			<tr>	
				<td>Description:</td>
				<td><input type="text" name = "description"></br></td>
			</tr>
			<tr>
				<td><input type="submit" value="Enter"></td>
			</tr>
        </form>
	</table>
    </p>
    
</body>

</html>