<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<header>
		<nav>
			<ul id="menu">
				<li><a href= '/'>Home</a></li>
				<li><a href= '/showTaskPage'>List Task</a></li>
				<li><a href= '/showDeveloperPage'>List Developer</a></li>
				<li><a href = '/addTaskPage'>New Task</a></li>
				<li><a href = '/addDeveloperPage'>New Developer</a></li>
				<li><a href= '/deleteTaskPage'>Delete Task</a></li>
				<li><a href = '/updateTaskPage'>Update Task</a></li>
			</ul>
		</nav>
	</header>
	<p>
		<br>
	</p>
	<div>
		<table>
			<form action="/updateTask" method="POST">
				<tr>
					<td>Task ID:</td>
					<td><input type="number" name="taskID"><br></td>
				</tr>
				<tr>
					<td>Task Status:</td>
					<td><select name = "status">
						<option value="In Progress" name = "progress">In Progress</option>
						<option value="Completed" name = "completed">Completed</option>
					</select></td>
				</tr>
				<tr>	
					<td><input type="submit" value="Enter"></td>
				</tr>
			</form>
		</table>
	</div>
</body>

</html>